In [1]:
2==3

False

In [3]:
xx = 2

In [4]:
2 == xx

True

In [6]:
x = 5
y = "my string"

In [7]:
x + 4

9

In [8]:
y + 4

TypeError: can only concatenate str (not "int") to str

In [10]:
z = "4"

In [11]:
y + z

'my string4'

In [12]:
type(x)

int

In [13]:
type(y)

str

In [14]:
zz = 5.1
type(zz)

float

In [15]:
x + zz

10.1

In [16]:
15 % 7

1

In [17]:
F = "Frida"
print(F)

Frida

In [18]:
?F.capitalize

In [31]:
#Example
s= "WHEN on board H.M.S Beagle, as naturalist"

s.count("b")

#s.count("b" and "B")

s.lower().count("b")

2